{template x7ree_v:x7ree_mynav}
<!--{if $list_7ree}-->
<table class="listtable_7ree">
	<tr>
		<th>{lang x7ree_v:htm_lang_shipinmingcheng_7ree}</th>
		<th>{lang x7ree_v:htm_lang_fenxiangshijan_7ree}</th>
		<th>{lang x7ree_v:htm_lang_shenhezhuangtai_7ree}</th>
		<th style='width:40px;'>{lang x7ree_v:htm_lang_caozuo_7ree}</th>
	</tr>
	<!--{loop $list_7ree $list_value}-->
	<tr>
		<td><a href="{$page_url_7ree}{$list_value['id_7ree']}" target="_blank">{$list_value['name_7ree']}</a></td>
		<td><a href="{$page_url_7ree}{$list_value['id_7ree']}" target="_blank">{$list_value['time_7ree']}</a></td>
		<td><!--{if $list_value['status_7ree']}-->{lang x7ree_v:htm_lang_yishenhe_7ree}<!--{else}-->{lang x7ree_v:htm_lang_weishenhe_7ree}<!--{/if}--></td>
		<td class='editbtn_7ree'><a href="plugin.php?id=x7ree_v:x7ree_v&code_7ree=2&id_7ree={$list_value['id_7ree']}">{lang x7ree_v:htm_lang_bianji_7ree}</a></td>
	</tr>
	<!--{/loop}-->
</table>
<div class="pagebottom_7ree">{$multipage}</div>
<!--{else}-->
	<div class="notice_7ree"><a href="{$share_url_7ree}">{lang x7ree_v:htm_lang_zhanweifenxiang_7ree}</a></div>
<!--{/if}-->