{template common/header}
<!--
 * [www.7ree.com] (C)2006-2021 7ree.com.
 * This is NOT a freeware, use is subject to license terms
 * Agreement: https://addon.dismall.com/?@7.developer.doc/agreement_7ree_html
 * More Plugins: https://addon.dismall.com/developer-7.html
 * EMail: service@7ree.com
 * QQ: 860618629
 * WeiXin: www_7ree_com
 * Update: 2021-07-14 18:49:20
-->

<div>
    <table><tbody><tr>
        <td class="dzavatd_7ree"><a href="home.php?mod=space&uid={$_G['uid']}" target="_blank">{$ajax_data_7ree['avatar_7ree']}</a></td>
        <td class="dzmsgtd_7ree">
        <h4>{$_G['username']}</h4>
        <p class="dzmsgtime_7ree"><span>{lang x7ree_v:htm_lang_ganggang_7ree}</span></p>
        <p>{$message_7ree}</p>
        </td>
        </tr>
        </tbody></table>
</div>


{template common/footer}