<div class="footnav_7ree" <!--{if $vars_7ree['zindex_7ree']}-->style="z-index:{$vars_7ree['zindex_7ree']};"<!--{/if}-->>
	<ul>
		<li <!--{if !$code_7ree || $code_7ree==1}-->class="thisli_7ree"<!--{/if}-->>
		<a href="{$home_url_7ree}">
		<span style="-webkit-mask: url(source/plugin/x7ree_v/template/image/1.png) no-repeat;
		mask: url(source/plugin/x7ree_v/template/image/1.png) no-repeat;-webkit-mask-size: 100% 100%;mask-size: 100% 100%;"></span><br>			
		{lang x7ree_v:htm_lang_xiaoshipin_7ree}
		</a>
		</li>
		
		<li <!--{if $code_7ree==2}-->class="thisli_7ree"<!--{/if}-->>
		<a href="{$share_url_7ree}">
		<span style="-webkit-mask: url(source/plugin/x7ree_v/template/image/2.png) no-repeat;
		mask: url(source/plugin/x7ree_v/template/image/2.png) no-repeat;-webkit-mask-size: 100% 100%;mask-size: 100% 100%;"></span><br>
		{lang x7ree_v:htm_lang_fabu_7ree}
		</a>
		</li>
		
		<li <!--{if $code_7ree==3}-->class="thisli_7ree"<!--{/if}-->>
		<a href="{$wode_url_7ree}">
		<span style="-webkit-mask: url(source/plugin/x7ree_v/template/image/3.png) no-repeat;
		mask: url(source/plugin/x7ree_v/template/image/3.png) no-repeat;-webkit-mask-size: 100% 100%;mask-size: 100% 100%;"></span><br>
		{lang x7ree_v:htm_lang_wode_7ree}
		</a>
		</li>
		
		<li>
		<a href="{$mobbtn4_7ree[1]}">
		<span style="-webkit-mask: url(source/plugin/x7ree_v/template/image/4.png) no-repeat;
		mask: url(source/plugin/x7ree_v/template/image/4.png) no-repeat;-webkit-mask-size: 100% 100%;mask-size: 100% 100%;"></span><br>
		{$mobbtn4_7ree[0]}
		</a>
		</li>
	</ul>
</div>

