.pipe{
	margin: 0 2px;
	color: #CCC;
}

.topmnav_7ree{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.msearchbar_7ree{
	position: fixed;
	top: 0;
	left: 0;
	display:block;
	height: 38px;
	line-height: 38px;
	width:100%;
	border-bottom:1px solid #CFCFCF;
	background-color:#FFFFFF;
	z-index:99;
}

.msearchbar_7ree .msearchbtn_7ree{
	border:none;
}


.msearchtext_7ree{
	display:block;
	width:80%;
	margin-top:5px;
	margin-left:10px;
	height: 28px;
	line-height: 28px;
	border:none;
	background-color:#EFEFEF;
	text-align:center;
	border-radius:10px;
}

.msearchbtn_7ree{
	position: fixed;
	top: 5px;
	right: 0;
	z-index:99;
	width:40px;
	height: 30px;
	line-height: 30px;
	background-color:#FFFFFF;
	background-image: url(search_7ree.png);
	background-size:70%;
	background-repeat:no-repeat;
	background-position:left 5px center;
	box-shadow: -1px 0 0 #CFCFCF;

}


.box_m_7ree .fenlei_7ree ul{
	white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
	list-style: none;
	width: 100%;
	background: #FFFFFF;
}



.box_m_7ree .fenlei_7ree li{
	display: inline-block;
	width:50px;
	height:30px;
	line-height:30px;
	margin:3px 5px;
	border-bottom:none;
	text-align: center;
}

.fenlei_7ree li a{
	display:block;
	height:100%;
	width:100%;
	border-top:none;
}

.posdiv_7ree{
	width:100%;
	height:35px;
}

.box_m_7ree{
	width:100%;
	/* border:1px solid #FFFFFF; */
	background-color:#FFFFFF;
	margin:10px auto;
	overflow-x: hidden;
}


/*
.box_m_7ree a{
	display:inline-block;
	width:100%;
}
*/

.box_m_7ree .inputtd_7ree input, .box_m_7ree .inputtd_7ree select, .box_m_7ree .texttd_7ree textarea{
	width:96%;
}

.fenlei_7ree .nownav_7ree{
	height:38px;
	color:#2366B2 !important;
	font-weight:700;
	display: block;
	text-decoration: none;
	border-top: 2px solid #2366B2;
	border-bottom: 0px;
}

.vbox_m_7ree{
    width: 100%;
    height: 280px;
    background: #000000;
    border-bottom: 1px solid #eee;
    margin: 0px auto;
    overflow:hidden;
    float:left;
    position:relative;
    z-index:2;
    text-align:center;
}

.vbox_m_7ree a i{
    color:#FFFFFF;
}

.vbox_m_7ree img{
	height: 240px;
	width:100%;
}

.vbox_m_7ree span{
/*
	position:absolute;
	bottom:45px;
	right:20px;
*/
	color:#FFFFFF;
}

.vbox_m_7ree p{
	display:block;
	position:absolute;
	top:240px;
	left:0;
	z-index:1;
	background-color:#FFFFFF;
	height: 40px;
	line-height: 40px;
	width:100%;
	margin:0 auto;
	text-align:center;
}

.atcover_m_7ree video{
	display:block;
	width:100%;
	height:240px;
	/*
	position:absolute;
	top:0;
	left:0;
	*/
	z-index:1;
	background-color:#000000;
}

.atcover_m_7ree video::-webkit-media-controls-enclosure {
    /*禁用播放器控制栏的样式*/
    display: none !important;
}

.morev_m_7ree .atcover_m_7ree video{
	display:block;
	height:80px;
	/*
	width:30%;
	position:absolute;
	top:0;
	left:0;
	*/
	z-index:1;
	background-color:#000000;
}

.topnav_7ree{
	height:36px;
	line-height:36px;
	width:100%;
	position:fixed;
	top:0px;
	background: #FFFFFF;
	box-shadow: 0px 3px 3px -3px rgb(0 0 0 / 80%);
}
.toppos_7ree{ 
	display:block;
	width:100%;
	height:40px;
}

.topnav_7ree h3{
	font-weight: 300;
	font-size:18px;
	text-align:center;
}


.footnav_7ree{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:49px;
    background: #FFFFFF;
    text-align: center;
/*
    border-top: 1px solid #DFDFDF;
*/
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	z-index:999;
    
}

.footnav_7ree li{
    display: inline-block;
    padding: 6px 3px;
    height: 40px;
    line-height:16px;
    width:22%;
    text-align: center;
    overflow: hidden;
}


.footnav_7ree span{
	width:24px;
	height:24px;
	display: inline-block;
	background-color: rgb(4, 19, 88);
}

.footnav_7ree a{
	color:rgb(4, 19, 88);
}


.footnav_7ree .thisli_7ree a{
	color:rgb(175, 12, 0);
}

.footnav_7ree .thisli_7ree span{
	display: inline-block;
	background-color: rgb(175, 12, 0);
}



.footer{
	margin-bottom:80px;
}

.playbox_m_7ree{
	width:100%;
	height:200px;
	/*
	line-height:300px;
	*/
	background-color:#000000;
	text-align:center;
	position: fixed;
	top: 0;
	left: 0;
	z-index:20;
}

.playbox_m_7ree a{
	color:#FFFFFF;
	margin-top:40px;
}

.morev_m_7ree{
	width:96%;
	margin:10px auto;
	position:relative;
}
.morevbox_m_7ree a{
	display:block;
}

.morev_m_7ree h3{
	font-size:18px;
	font-weight:normal;
}

.morev_m_7ree img{
	display:block;
	float:left;
	width:96%;
	height:80px;
	margin-bottom:20px;
}

.morev_m_7ree p{
	display:block;
	float:left;
	width:60%;
	height:80px;
	overflow:hidden;
	padding-left:10px;
	font-size:16px;
}

.morev_m_7ree span{
	color:gray;
	font-size:12px;
}

.morev_m_7ree video{
	display:block;
	width:32%;
	height:80px;
	display:block;
	float:left;
	background-color:#000000;
	margin-bottom: 20px;
}



.topinfo_m_7ree {
	width:96%;
	margin:10px auto;
	margin-top:200px;
}


.topinfo_m_7ree h3{
	font-size:18px;
	font-weight:normal;
}

.discuzpost_7ree{
	position:fixed;
	bottom:50px;
	left:0px;
	width:100%;
	height:40px;
	background: #EDEDED;
	border-top: 1px solid #BEACAC;
	padding-top:5px;
}

.topinfo_m_7ree .discuzpost_7ree textarea{
	display:inline-block;
	width:80%;
	height:30px;
	line-height:30px;
	border:1px solid #CFCFCF;
	border-radius:3px;
	padding-left:5px;
	margin-left:10px;
}

.topinfo_m_7ree .discuzpost_7ree textarea:hover{
	border:1px solid #067296;
}



.topinfo_m_7ree .discussubmit_7ree{
	display:inline-block;
	width:50px;
	height:32px;
	color:#FFFFFF;
	background:#067296;
	border:1px solid #067296;
	float:right;
	border-radius:3px;
	margin: 0 10px 0 0;
}


.vbox_m_7ree .zan1_7ree, .vbox_m_7ree .zan2_7ree{
	display:block;
	position:absolute;
	bottom:0px;
	right:60px;
	color:#000000;
}

.vbox_m_7ree .xing1_7ree, .vbox_m_7ree .xing2_7ree{
	display:block;
	position:absolute;
	bottom:0px;
	right:30px;
	color:#000000;
}

.box_m_7ree .share_7ree{

/*
	display:block;
	position:absolute;
	bottom:0px;
	right:0px;
*/
	color:#000000;
	background: url(share_7ree.png) no-repeat 0 center;
	background-size: 12px 12px;
	padding-left:20px;
}


.tdtitle_m_7ree a{
	display:inline-block;
	height:30px;
	line-height:30px;
	width: 150px;
	overflow:hidden;
}

.wxshareguide_7ree{
	top: 0;
	width: 100%;
	height: 100%;
	background: url("wxshareguide.png") rgba(0,0,0,0.5) no-repeat 94% 10px;
	background-size: 35%;
	position: absolute;
	position: fixed;
	right: 0%;
	top: 0%;
	_position: absolute;
	_top: expression(eval(document.documentElement.clientHeight+document.documentElement.scrollTop));
	_left: expression(eval(document.documentElement.clientWidth+document.documentElement.scrollLeft));
	z-index: 9999999;
}

.morev_m_7ree h3{
	display:block;
	width:100%;
	height:30px;
	font-size:16px;
	border-bottom:1px solid #CFCFCF;
	margin:10px auto;
}

.morev_m_7ree h3 b{
	color:#067296;
	display:block;
	width:100px;
	height:30px;
	text-align:center;
	border-bottom:1px solid #067296;
}

.pagenav_m_7ree{
    list-style:none; 
    margin: 10px auto; 
    padding: 0px; 
    width: 100%;
    font-size:16px;
}

.pagenav_m_7ree li{
	float:left;
	width: 33%; 
	text-align:center;
	height:30px;
	line-height:30px;
}

.pagenav_m_7ree .thisnow_7ree{
	color:#067296;
	display:block;
	text-align:center;
	border-bottom:1px solid #067296;
	font-weight:700;
}

.talbe_m_7ree{
	width:100%;
}

.talbe_m_7ree td{
//	height:80px;
	vertical-align:top;
	overflow:hidden;
/*
	padding-top:10px;
*/
}

.talbe_m_7ree .t1_7ree{
	text-align:left;
	width:150px;
	height:80px;
	overflow:hidden;
}

.talbe_m_7ree .t2_7ree{
	padding-left:5px;
	height:80px;
	overflow:hidden;
}

.talbe_m_7ree .t2_7ree i{
	display:block;
	height:40px;
	line-height:20px;
	width:220px;
	overflow:hidden;
	margin:0;
}

.talbe_m_7ree .t2_7ree a{
	display:block;
	height:40px;
	line-height:20px;
	width:220px;
	overflow:hidden;
	margin:0;
}

.talbe_m_7ree .atcover_m_7ree{
	height:80px;
	width:140px;
	overflow:hidden;
	margin:0;
}

.discussbox_7ree p{
	margin-bottom:20px;
}

.topinfo_m_7ree span{
	font-size:11px;
}

.zan1_7ree, .zan2_7ree{
	background-size: 12px 12px !important;
}

.footeraddiv_m_7ree{
	width:100%;
	height:160px;
	line-height:60px;
	text-align:center;
	border:1px dashed #CFCFCF;
}

.footeraddiv_m_7ree img{
	max-height:160px;
}

.atcover_m_7ree .t1_7ree .leftz, .atcover_m_7ree .t1_7ree .left{
	width: 140px !important;
	height: 80px !important;
}


.editbtn_7ree a{
	padding:3px 6px;
	color:#FFFFFF;
	background:#067296;
	border:1px solid #067296;
	border-radius:5px;
}